<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BINPageScrollViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FBD63D9A1BD9245600CE20FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBD63DB31BD9245700CE20FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBD63DBE1BD9245700CE20FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
